certifi==2019.11.28
chardet==3.0.4
Click==7.0
decorator==4.4.1
Flask==1.0.2
Flask-API==1.1
gunicorn==19.9.0
idna==2.8
imageio==2.4.1
itsdangerous==1.1.0
Jinja2==2.11.1
MarkupSafe==1.1.1
moviepy==0.2.3.5
numpy==1.18.1
Pillow==7.0.0
requests==2.21.0
tqdm==4.42.1
urllib3==1.24.3
Werkzeug==1.0.0
